node_modules/
build/

coverage/
.DS_Store
*.log
.env*
!.env.example
.DS_Store
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

*/dist/**
*/.env
*/yarn.lock
yarn.lock
.claude/**
*/package-lock.json
package-lock.json
CLAUDE.md
*/output.txt
DESIGN.md
comand-list.md
output.txt
**/.env